#root {
  text-align: center;
}
.background-container{
  background-color:#DDEAFA  ;
  height:50%;
  position:relative;

}
.background-container::before {
  display:block;
 content: "";
   position: absolute;
   top: -25%;
   right: 0;
   width: 250px;
   height: 25%;
   border-bottom: 60px solid #DDEAFA;
	border-left: 40px solid transparent; 
}

.background-container::after {
  width:250px;
  height:50px;
 background: #DDEAFA;
 content:"";
 position:absolute;
 display:block;
 bottom:-15%;
 left:-2%;
 transform: skew(-45deg);
 clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.card.card-features{
  /* height:300px; */
  margin:24px;
  width:250px;
  padding:24px;

}
p.card-text{
  font-size:12px;
}
.card-img-top{
  height:50px;
  width:50px;
  margin:0 auto;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.main-content{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
@media only screen and ((max-width:1025px)){
  .col-sm-4{
    flex:1 0 auto;
    width:33%;
  }
}
@media(max-width:768px){
  .navbar-toggler{
    z-index:1;

  }
  .row{
    flex-direction:column;
  }
}
@media only screen and (max-width:600px){
  #banner-image{
    display:none;
  }
  h1.banner-title{
    font-size:16px;
  }
  
.background-container::before {
   width: 150px;
   height:30%;
}
.background-container::after {
  width:150px;
}
.background-container{
  height:150px;
}
}

.search{
  border-radius:50px;
  height:30px;
}
.sidebar{
  width:280px;

  height:100vh;
  background:#243141;
}